<div>
	<h3>Education WP 4.0.3 - 2019-06-20</h3>
	<div class="update">Update</div>
	<ul>
		<li>Prepared for new demo Edume.</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated templates in LearnPress, missing OurTeam...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 4.0.2 - 2019-04-12</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved responsive styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (missed login page in Elementor mode, pagination on Courses Page, Page Layout setting...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 4.0.1.1 - 2019-03-20</h3>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed Coming Soon addon issue.</li>
	</ul>
</div>

<div>
	<h3>Education WP 4.0.1 - 2019-03-19</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved Elementor page builder (all demos ready).</li>
		<li>Improved Gutenberg.</li>
		<li>Improved style.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated templates in WooCommerce 3.5.6...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 4.0.0 - 2019-02-19</h3>
	<div class="update">Update</div>
	<ul>
		<li>Supported Elementor page builder (3 prebuilt demos ready).</li>
		<li>Improved WordPress 5.0 compatibility.</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Captcha issue, quiz issues...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.6.3 - 2018-12-21</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles (responsive and RTL).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (LearnPress 3.x issues, login popup...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.6.2 - 2018-12-19</h3>
	<div class="update">Update</div>
	<ul>
		<li>Supported Gutenberg.</li>
		<li>Improved styles (with WooSale Countdown plugin and MiniOrange Social Login plugin).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated templates in LearnPress 3.2.0, outdated templates in WooCommerce 3.5.2...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.6.1.1 - 2018-11-27</h3>
	<div class="update">Update</div>
	<ul>
		<li>Updated language.</li>
		<li>Improved styles (menu on mobile, responsive, RTL...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (duplicate registration email...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.6.1 - 2018-11-23</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added Courses Filter.</li>
		<li>Improved Google Captcha integration.</li>
		<li>Improved registration process.</li>
		<li>Improved styles (megamenu on IE browsers, responsive...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated template in WooCommerce 3.5.1, Searching Courses Ajax...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.6.0 - 2018-10-26</h3>
	<div class="update">Update</div>
	<ul>
		<li>Optimized languages package.</li>
		<li>Added courses sorting.</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated template in WooCommerce 3.5.0, missing MailChimp...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.5.3 - 2018-09-28</h3>
	<div class="update">Update</div>
	<ul>
		<li>Optimized installation package.</li>
		<li>Added customizable Event templates.</li>
		<li>Updated languages.</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (unused text in Profile, some PHP notices, BuddyPress avatar...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.5.2 - 2018-09-06</h3>
	<div class="update">Update</div>
	<ul>
		<li>Updated required plugins list.</li>
		<li>Updated languages.</li>
		<li>Improved styles.</li>
		<li>Improved Become A Teacher form, Portfolio...</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated template in LearnPress 3.0.12, issues with LearnPress Coming Soon...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.5.1 - 2018-08-16</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved new demo content.</li>
		<li>Improved elements (Pie Countdown, Testimonials...).</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (fixed some issues in Kindergarten child theme, issue with Loading More for course ratings...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.5.0 - 2018-07-26</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added a brand new prebuilt demo - Grad School.</li>
		<li>Updated demo data.</li>
		<li>Improved styles (RTL and responsive).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with JS libraries, some translation issues...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.4.5 - 2018-07-11</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles (RTL and responside for new WPBakery demos).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with FontAwesome, style issues with WPBakery, some translation issues...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.4.4 - 2018-06-25</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with add to cart, button Buy Membership, co-instructor in Visual Composer...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.4.3 - 2018-05-24</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated template in LearnPress 3.0.9 and WooCommerce 3.4.0...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.4.2 - 2018-05-21</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated template in LearnPress 3.0.8...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.4.1 - 2018-05-09</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved Events List widget (add Category filter, add Event Status filter).</li>
		<li>Improved compatibilities with Assignments addon.</li>
		<li>Improved styles (RTL and responside for Edtech and React demo).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with loading more reviews, remove some deprecated functions...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.4.0 - 2018-04-26</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added a brand new prebuilt demo - React (new Bootstrap layouts, new course layout, and so much more...).</li>
		<li>Updated premium addons list.</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Kindergarten child theme issue, Carousel JS issue, social sharing for courses...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.7 - 2018-04-11</h3>
	<div class="update">Update</div>
	<ul>
		<li>Prepared for a brand new prebuilt demo - React.</li>
		<li>Improved styles (RTL, demo Edtech, responsive, WooCommerce...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (PHP notices from custom-functions.php, 404 LearnPress profile page...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.6 - 2018-03-29</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added Maintenance page template.</li>
		<li>Updated Kindergarten child theme.</li>
		<li>Improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (outdated template in LearnPress 3.0.4, notices in Course Category editor, issue with some Customize options...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.5 - 2018-03-23</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles (Coming Soon Courses, Courses Colection, Kindergarten child theme, demo Edtech...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with LearnPress 3.x, notices in Event pages...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.4 - 2018-03-19</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles (RLT, lesson template, demo Edtech course template...).</li>
		<li>Added Polish translation packages for the theme.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with Coming Soon Courses template...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.3 - 2018-03-16</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles (quiz template, course template...).</li>
		<li>Updated languages package.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (wrong lesson index, discount price in Related Courses section...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.2 - 2018-03-14</h3>
	<div class="update">Update</div>
	<ul>
		<li>Prepared for the next LearnPress 3.0.</li>
		<li>Improved widgets (Course Categories List, Courses...).</li>
		<li>Improved demo Edtech RTL.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.1 - 2018-03-01</h3>
	<div class="update">Update</div>
	<ul>
		<li>Prepared for the next LearnPress 3.0.</li>
		<li>Improved styles (demo Edtech, responsive, WooCommerce, RTL...).</li>
		<li>Improved widgets (Instructors List, Portfolios...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed a WooCommerce outdated templates.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.3.0 - 2018-02-09</h3>
	<div class="update">Update</div>
	<ul>
		<li>Prepared for the next LearnPress 3.0.</li>
		<li>Improved styles (demo Edtech, responsive, WooCommerce...).</li>
		<li>Updated languages.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed a WooCommerce outdated templates.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.2.1 - 2018-01-18</h3>
	<div class="update">Update</div>
	<ul>
		<li>Improved styles for demo Edtech.</li>
		<li>Prepared for the next LearnPress 3.0.</li>
		<li>Updated responsive style.</li>
		<li>Updated demo data.</li>
		<li>Updated documentation.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (missing Finish Course button, issue with Membership price display...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.2.0 - 2018-01-09</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added a brand new prebuilt demo - Edtech (new Bootstrap layouts, new course layout, and so much more...).</li>
		<li>Prepared for the next LearnPress 3.0.</li>
		<li>Updated all styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.9.1 - 2017-11-28</h3>
	<div class="update">Update</div>
	<ul>
		<li>Updated demo content.</li>
		<li>Improved WordPress 4.9 compatibility.</li>
		<li>Improved styles (RTL, responsive...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed XSS issues.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.9 - 2017-11-23</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated Turkish language (thanks to @AliIsingor).</li>
		<li>Improved WordPress 4.9 compatibility.</li>
		<li>Added full-width menu layout.</li>
		<li>Added option to show popular courses in Courses page.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (missing course category in WP 4.9, a PHP notice in Heading widget, forum link issue...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.8 - 2017-11-17</h3>

	<div class="update">Update</div>
	<ul>
		<li>Optimized Thim widgets and Thim shortcodes.</li>
		<li>Updated languages package.</li>
		<li>Updated styles (responsive, RTL...).</li>
		<li>Updated all demo data.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (LearnPress outdated templates, register membership, SSL redirect...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.7 - 2017-11-01</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added Turkish translation packages for the theme.</li>
		<li>Added option to show/hide category description.</li>
		<li>Updated LearnPress (version 2.1.9.2) outdated templates.</li>
		<li>Updated all demo data.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with WC product images, issue with WC event notification...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.6 - 2017-10-16</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added Danish translation packages for the theme.</li>
		<li>Added new option to adjust course tabs (menu Customize / Courses / Single Pages).</li>
		<li>Updated styles (membership pages, single course pages, portfolio pages...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (WooCommerce outdated templates, SSL issue with Popup Login...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.5 - 2017-09-29</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved courses purchasing on mobile devices.</li>
		<li>Improved WooCommerce process.</li>
		<li>Improved events registration.</li>
		<li>Update styles (responsive for membership templates, View Cart button, RTL styles...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (lesson block content issue, Grid/List option, ...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.4 - 2017-09-20</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added a new page template - Blank Page.</li>
		<li>Added option to show a number of Our Team members per pages.</li>
		<li>Updated a notice when a course full.</li>
		<li>Updated Kindergarten child theme.</li>
		<li>Changed expired events order.</li>
		<li>Fixed and improved styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with WC variant products, issue with LP non-login users...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.3 - 2017-08-25</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added option to adjust columns in blog page.</li>
		<li>Updated register redirection in events.</li>
		<li>Updated languages package.</li>
		<li>Updated styles.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed pre-loading icon in RTL mobile mode.</li>
		<li>Fixed an issue with grouped sub menus.</li>
		<li>Fixed some minor bugs.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.2 - 2017-08-08</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added Spanish translation packages for the theme.</li>
		<li>Improved style (responsive, courses, shop...).</li>
		<li>Improved some functions (breadcrumb in event pages, Our Team widget...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed an issue with PHP 5.2 or lower.</li>
		<li>Fixed a WooCommerce outdated template.</li>
	</ul>
</div>


<div>
	<h3>Education WP 3.1.1 - 2017-06-27</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added Display Settings for product pages.</li>
		<li>Supported popup login when LearnPress-WooCommerce addon enabled.</li>
		<li>Improved Style (mega menus, responsive and RTL).</li>
		<li>Prepared for the next LearnPress 2.1.7.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with booking events when users not login, issue with new Text widget in WordPress 4.8...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.1.0 - 2017-06-08</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added display settings for products and collections.</li>
		<li>Supported lesson comments.</li>
		<li>Improved Eduma package.</li>
		<li>Improved responsive style.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issue with booking free events, issue with course thumbnail...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.9.1 - 2017-05-31</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated Eduma documentation.</li>
		<li>Updated some course icons.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed a style issue with long lesson/quiz titles.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.9 - 2017-05-30</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added Customize options for Forum pages.</li>
		<li>Added icons for Customize sections.</li>
		<li>Improved styles. (WooCommerce buttons, RTL, courses...).</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issues with localhost site, issues with event widgets...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.8 - 2017-05-24</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added Customize options for Testimonial and Portfolio.</li>
		<li>Updated all demos data.</li>
		<li>Improved Coupon option for LearnPress-WooCommerce Payment addon.</li>
		<li>Improved LearnPress-Paid Memberships Pro Integration addon.</li>
		<li>Improved UI-UX for Eduma Setup.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (issues with Commission addon, an AJAX process with Eduma theme...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.7 - 2017-04-27</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated all demos data.</li>
		<li>Updated WooCommerce (version 3.0.4) outdated templates.</li>
		<li>Updated to latest version 5.4.3.1 of Slider Revolution plugin.</li>
		<li>Improved styles (RTL, courses, products, portfolios...).</li>
		<li>Improved portfolio's options.</li>
		<li>Improved Customize options.</li>
	</ul>

</div>

<div>
	<h3>Education WP 3.0.6.1 - 2017-04-18</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added color option for portfolios.</li>
		<li>Updated Eduma child themes.</li>
		<li>Updated LearnPress add-ons package.</li>
		<li>Improved styles.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs with LearnPress.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.5 - 2017-04-11</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added Display Settings box for each course.</li>
		<li>Removed ThimCore package from Eduma theme folder.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Updated WooCommerce (version 3.0.1) outdated templates.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed an issue with course wishlist button.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.4 - 2017-04-05</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved updating process (from Eduma 2.x to Eduma 3.x).</li>
		<li>Updated ThimCore version 1.0.4.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some customize options (Blog Title, Social Sharing).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.3 - 2017-03-30</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved installing Eduma child-themes process.</li>
		<li>Improved updating process.</li>
		<li>Added notice to remove Thim Framework plugin.</li>
		<li>Updated ThimCore version 1.0.3.</li>
	</ul>
</div>


<div>
	<h3>Education WP 3.0.2 - 2017-03-28</h3>

	<div class="features">New features</div>

	<ul>
		<li>Added installation add-ons interface.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved updating process.</li>
		<li>Improved adding custom background image for categories.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some customize settings (Copyright Text and Custom CSS).</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.1 - 2017-03-24</h3>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed missing style on child theme.</li>
	</ul>
</div>

<div>
	<h3>Education WP 3.0.0 - 2017-03-24</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added Thim Core plugin(new customizer, new post meta, new demo importer...).</li>
		<li>Optimized performance.</li>
		<li>Added Persian translation package for the theme.</li>
		<li>Added media intro for courses.</li>
	</ul>
	<div class="update">Update</div>
	<ul>
		<li>Updated to latest version 5.4.1 of Slider Revolution plugin.</li>
		<li>Updated to latest version 5.1 of Visual Composer plugin.</li>
		<li>Updated icons for widgets and shortcodes.</li>
		<li>Updated LearnPress (version 2.1.5) outdated templates.</li>
		<li>Updated Kindergarten Child Theme.</li>
		<li>Improved style.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.8.6 - 2017-02-24</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added TP Events - WooCommerce Payments add-on.</li>
		<li>Added Mexican Spanish, Russian, Brazilian Portuguese translation packages for the theme.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Updated TP Events 2.0.</li>
		<li>Updated Kindergarten Child Theme.</li>
		<li>Updated LearnPress premium add-ons.</li>
		<li>Updated Tax Meta Class library.</li>
		<li>Updated LearnPress (version 2.1.4) outdated templates.</li>
		<li>Improved styles (shop, LP profile...).</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.8.5 - 2017-02-10</h3>

	<div class="features">New features</div>
	<ul>
		<li>Optimized database queries.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Updated Memberships add-on (improve membership duration process).</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed HTTP header conflict.</li>
		<li>Fixed an issue with Cookies (login with an incognito browser).</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.8.0 - 2016-12-21</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added a brand new Pre-built DEMO for University (v4 - SiteOrigin).</li>
		<li>Supported LearnPress - Coming Soon Courses add-on</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved updater from Visual Composer (from version 5.0).</li>
		<li>Updated LearnPress (version 2.0.8.2) outdated templates.</li>
		<li>Updated LearnPress - Certificates add-on.</li>
		<li>Updated LearnPress - WooCommerce Payments add-on.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.7.0 - 2016-11-21</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added new lessons pop-up style.</li>
		<li>Supported slider, PDF, Powerpoint... for lessons.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved course templates, Kindergarten demo, responsive style, RTL.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs with Courses widget.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.6.0 - 2016-11-11</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added a brand new Pre-built DEMO for University (v3 - SiteOrigin).</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved Kindergarten Child Theme.</li>
		<li>Updated to latest version 5.0 of Visual Composer plugin.</li>
		<li>Updated event participants section.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.5.0 - 2016-09-23</h3>

	<div class="features">New features</div>
	<ul>
		<li>Supported Visual Composer page builder :)</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved styles.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.4.0 - 2016-06-20</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added a brand new Pre-built DEMO for Kindergarten (child theme).</li>
		<li>Added Timetable widget.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved sub-menu style.</li>
		<li>Improved LearnPress style.</li>
		<li>Updated LearnPress WooCommerce Payments add-on.</li>
		<li>Updated to latest version 5.2.5.4 of Slider Revolution plugin.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed outdated WooCommerce templates.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.3.0 - 2016-05-30</h3>

	<div class="features">New features</div>
	<ul>
		<li>Integrated with Paid Membership Pro plugin.</li>
		<li>Supported courses membership features.</li>
		<li>Added link target option for menu items.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.2.0 - 2016-04-28</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added a brand new Pre-built DEMO for Courses Hub.</li>
		<li>Added Courses Collection widget.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved auto play option for carousel.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed a minor js bug.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.1.0 - 2016-04-21</h3>

	<div class="features">New features</div>
	<ul>
		<li>Added a brand new Pre-built DEMO for Languages School.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Improved Courses widget.</li>
		<li>Improved Icon Box widget.</li>
		<li>Improved responsive.</li>
		<li>Improved gallery popup.</li>
		<li>Improved events</li>
		<li>Updated to latest version 5.2.5 of Slider Revolution plugin.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed pre-loading on IE 11.</li>
	</ul>
</div>

<div>
	<h3>Education WP 2.0 - 2016-04-11</h3>

	<div class="features">New features</div>
	<ul>
		<li>Upgraded to LearnPress version 1.0</li>
		<li>Added events registration feature.</li>
	</ul>

	<div class="update">Update</div>
	<ul>
		<li>Updated to latest version 5.2.4.1 of Slider Revolution plugin.</li>
		<li>Improved menu style.</li>
		<li>Improved site performance.</li>
	</ul>
</div>

<div>
	<h3>Education WP 1.0 - 2015-12-22</h3>
	<div class="features">New features</div>
	<ul>
		<li>The most amazing Education WordPress Theme was born :)</li>
	</ul>
</div>