#masthead{
	.navigation{
		padding: 0;

		.width-logo {
			padding: 12px 0 11px;

			img {
				margin-bottom: 0;
			}
		}

		.width-navigation{
			.navbar-nav{
				.menu-right{
					ul {
						li {
							&.widget{
								margin-left: 22px;
							}
							>div{
								padding:0;

								&.thim-widget-login-popup{
									padding:0;

									.thim-link-login{
										a{
											font-weight: 400;
											font-size: 14px;
											padding:0 10px;
											margin-left: 6px;
											height: 41px;
											line-height: 41px;
											background: #ec5252;
											transition: all 0.3s ease 0s;

											&:hover{
												background: darken(#ec5252,10%);
											}

											&.profile{
												color: #555555;
												border: 1px solid #ebebeb;
												background: none;
												margin-left: 0;

												&:hover{
													color: #ec5252;
													border-color: #ec5252;
												}
											}
										}
									}
								}
							}

							.search-form {
								height: auto;
								width: 502px;
								margin-right: 17px;

								&:after {
									width: 41px;
									height: 41px;
									line-height: 41px;
									right: 0;
									top: 0;
								}

								.search-field {
									width: 100%;
									position: static;
									opacity: 1;
									visibility: visible;
									-webkit-transform: translate(0,0);
									-moz-transform: translate(0,0);
									-ms-transform: translate(0,0);
									-o-transform: translate(0,0);
									transform: translate(0,0);
									border: none;
									background: #ebebeb;
									height: 41px;
									line-height: 41px;
									font-size: 16px;
									font-weight: 300;
									color: #9d9d9d;
								}
							}

							&.widget_shopping_cart{
								display: inline-block;
								margin-left: 11px;
								padding: 19px 0;

								.minicart_hover{
									padding: 0;

									.cart-items-number{
										i{
											margin-right: 0px;
										}

										.wrapper-items-number{
											display: none;
										}
									}
								}

								.widget_shopping_cart_content{
									top: 100%;
									height: auto !important;

									.cart_list{
										padding: 15px 0;
									}
								}

							}

							&.widget_nav_menu{
								ul{
									li{
										padding:10px;
										position: relative;

										a{
											color: #555555;
											transition: all 0.3s ease 0s;

											&:hover{
												color: #ec5252;

											}
										}

										ul.sub-menu{
											padding:10px 0;
											top:100%;
											box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.2);

											li{
												padding:0 15px;

												&.menu-item-has-children:before{
													right: 15px;
												}

												ul.sub-menu{
													min-width: 260px;
													top:0;
													left: 100%;
													padding:0;
													box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.2);
												}
											}
										}
									}
								}
							}

							&.widget_course-categories{
								.thim-widget-course-categories{
									position: relative;

									h4{
										font-size: 16px;
										font-weight: 300;
										margin: 0;
										padding: 17px 0 16px 23px;
										position: relative;

										&:before{
											content: '\f35c';
											font-family: Ionicons;
											font-size: 18px;
											position: absolute;
											top: 17px;
											left: 0;
										}
									}

									ul{
										position: absolute;
										top:100%;
										left: 0;
										min-width: 260px;
										background: #ffffff;
										box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.2);
										z-index: 9;
										padding: 10px 0;

										opacity: 0;
										visibility: hidden;
										@include transition(all 0.3s ease 0s);

										li{
											width: 100%;
											padding:0 15px;
											text-align: left;

											a{
												display: block;
												padding:8px 0;
												color: #555555;
												@include transition(all 0.3s ease 0s);

												&:hover{
													color: #ec5252;
												}
											}
										}
									}

									&:hover{
										cursor: pointer;

										ul{
											opacity: 1;
											visibility: visible;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.mobile-menu-wrapper {
	ul {
		li.menu-right {
			ul {
				li {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 1024px){
	body.thim-child-udemy .menu-mobile-effect.navbar-toggle span.icon-bar {
		background-color: #333;
	}
}