.thim-widget-heading{
	.sc_heading{
		margin:0;
		padding:0;

		.title{
			line-height: 30px;
		}
	}
}

.thim-top-categories{
	p{
		margin-bottom: 0;
	}
	h3{
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
	}
}