.box_heading_custom {
	.column_heading {
		&.column_heading_border_right {
			margin-right: 53px;
			padding-right: 53px;
			border-right: 1px solid rgba(124,124,124,0.2);
		}

		.heading{
			font-size: 30px;
			color: #273044;
		}
	}
}

	.thim-category-tabs{
		&.thim-course-grid{
			overflow: visible;

			.nav-tabs{
				margin-bottom: 61px;

				li{
					padding:0 20px;
					display: inline-block;
					float: none;

					a{
						font-size: 16px;
						font-weight: 300;
					}

					&.active{
						a{
							&:after{
								content: '';
								display: block;
								width: 100%;
								height: 1px;
								background: #ec5252;
								position: absolute;
								bottom:0;
								left: 0;
							}
						}
					}
				}
			}
			.thim-list-event{
				&:after{
					content: '';
					display: block;
					clear: both;
				}

				.course-item{
					width: 25%;
					padding:0 20px;

					.course-item-wrapper{
						.price{
							position: absolute;
							top: 21px;
							right: 0;
							font-size: 14px;
							font-weight: 400;
							color: #ffffff;
							padding: 0 12px;

							.old-price {
								font-size: 12px;
								font-weight: 300;
								font-style: italic;
								text-decoration: line-through;
								margin-right: 6px;
							}
						}

						.thim-course-content{
							position: relative;
							padding-bottom: 13px;

							.course-author{
								margin-bottom: 15px;

								img{
									width: 43px;
								}

								.author-contain{
									.value{
										margin: 0;

										a{
											font-size: 14px;
											color: #273044;
											text-decoration: none;
											transition: all 0.3s ease 0s;

											&:hover{
												color: #ec5252;
											}
										}
									}
								}
							}

							.course-title{
								margin: 0 0 15px;
							}

							.course-meta{
								&:before{
									content: none;
								}
								&:after{
									content: none;
								}

								display: -webkit-box;
								display: -moz-box;
								display: -ms-flexbox;
								display: -webkit-flex;
								display: flex;
								justify-content: space-between;

								span{
									font-size: 14px;
									color: #828282;

									i{
										margin-right: 3px;
									}

									a{
										color: #828282;
										transition: all 0.3s ease 0s;

										&:hover{
											color: #ec5252;
										}
									}

									&.star{
										i{
											color: #f8c66c;
										}

									}
								}
							}

							.thim-course-content-hover{
								position: absolute;
								top:0;
								left: 100%;
								width: 365px;
								z-index: 99;
								transform: translate(0,-50%);
								padding-left: 16px;
								visibility: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease 0s;
								-moz-transition: all 0.3s ease 0s;
								-o-transition: all 0.3s ease 0s;
								transition: all 0.3s ease 0s;

								.thim-course-content-hover-box{
									background: #ffffff;
									border: 1px solid #ebebeb;
									padding: 21px 25px 30px;
									text-align: left;

									&:before{
										border-top: 15px solid transparent;
										border-right: 15px solid #ebebeb;
										border-bottom: 15px solid transparent;
										content: "";
										height: 0;
										left: 2px;
										position: absolute;
										top: 50%;
										width: 0;
										margin-top: -16px;
									}
									&:after{
										border-top: 14px solid transparent;
										border-right: 14px solid #ffffff;
										border-bottom: 14px solid transparent;
										content: "";
										height: 0;
										left: 3px;
										position: absolute;
										top: 50%;
										width: 0;
										margin-top: -15px;
									}

									.course-date{
										font-size: 14px;
										line-height: 24px;
										display: block;
										margin-bottom: 8px;
									}

									.course-title{
										margin-bottom: 8px;

										a{
											font-size: 18px;
											line-height: 26px;
										}
									}

									.course-feature{
										margin-bottom: 17px;

										span{
											font-size: 14px;
											margin-right: 13px;

											i{
												font-size: 16px;
												font-weight: 400;
												color: #ec5252;
												margin-right: 3px;
											}
										}
									}

									.course-excerpt{
										margin-bottom: 22px;
									}

									.lp-course-buttons{
										button{
											width: 100%;
											font-weight: 400;
											padding:0 20px;
											height: 50px;
											line-height: 50px;
											border-radius: 3px;
											font-weight: 400;
											-webkit-transition: all 0.3s ease 0s;
											-moz-transition: all 0.3s ease 0s;
											-o-transition: all 0.3s ease 0s;
											transition: all 0.3s ease 0s;

											&:hover{
												background: darken(#ec5252,10%);
											}
										}
									}
								}
							}
						}

						&:hover{
							.thim-course-content{
								.thim-course-content-hover{
									visibility: visible;
									opacity: 1;
								}
							}
						}
					}

					&:nth-child(4n){
						.course-item-wrapper{
							.thim-course-content{
								.thim-course-content-hover{
									left: auto;
									right: 100%;
									padding-left: 0;
									padding-right: 16px;

									.thim-course-content-hover-box{
										&:before{
											border-left: 15px solid #ebebeb;
											border-right: none;
											left: auto;
											right: 2px;
											margin-top: -16px;
										}
										&:after{
											border-left: 14px solid #ffffff;
											border-right: none;
											left: auto;
											right: 3px;
											margin-top: -15px;
										}
									}
								}
							}

							&:hover{
								.thim-course-content{
									.thim-course-content-hover{
										visibility: visible;
										opacity: 1;
									}
								}
							}
						}
					}

					&.color-1{
						.course-item-wrapper{
							.course-thumbnail{
								border-bottom: 3px solid #ec5252;

								.price{
									background: #ec5252;
								}
							}
						}
					}
					&.color-2{
						.course-item-wrapper{
							.course-thumbnail{
								border-bottom: 3px solid #007791;

								.price{
									background: #007791;
								}
							}
						}
					}
				}
			}
		}
	}


@media (max-width: 1281px) {
		.thim-category-tabs {
			&.thim-course-grid {
				.thim-list-event {
					.course-item {
						.course-item-wrapper {
							.thim-course-content {
								.thim-course-content-hover {
									width: 265px;

								}
							}
						}
					}
				}

				.nav-tabs {
					li {
						padding: 0 10px;
					}
				}
			}
		}
}

@media (max-width: 992px){
	.box_heading_custom {
		.column_heading {
			&.column_heading_border_right{
				border: none;
				margin:0;
				padding: 0;
			}
		}
	}

	.thim-category-tabs {
		&.thim-course-grid {
			margin-top: 0;

			.thim-list-event {
				.course-item {
					width: 50%;
				}

				.course-item:nth-child(2n) {
					.course-item-wrapper {
						.thim-course-content {
							.thim-course-content-hover {
								left: auto;
								right: 100%;
								padding-left: 0;
								padding-right: 16px;

								.thim-course-content-hover-box{
									&:before {
										border-left: 15px solid #ebebeb;
										border-right: none;
										left: auto;
										right: 2px;
										margin-top: -16px;
									}

									&:after {
										border-left: 14px solid #fff;
										border-right: none;
										left: auto;
										right: 3px;
										margin-top: -15px;
									}
								}
							}
						}
					}
				}
			}
		}

		.nav-tabs {
			float: left;
		}
	}

	.elementor-widget-thim-courses .thim-category-tabs.thim-course-grid,
	.thim-widget-courses .thim-category-tabs.thim-course-grid {
		margin-top: 0;
	}

	.thim-remove-margin{
		.vc_custom_1559029555308{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}
}

@media (max-width: 480px) {
	.thim-category-tabs {
		&.thim-course-grid {
			.thim-list-event {
				.course-item {
					width: 100%;

					.course-item-wrapper {
						.thim-course-content {
							.thim-course-content-hover {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

