.thim-list-event{
	&.layout-2 {
		.wrap-arrow-slick{
			position: absolute;
			right: 0;
			top: -50px;
			display: flex;

			.arow-slick{
				margin-left:20px;
				@include transition(all 0.3s ease 0s);

				i{
					font-size: 30px;
					color: #828282;
				}

				&:hover{
					cursor: pointer;

					i{
						color: #ec5252;
					}
				}
			}
		}

		.item-event {
			padding: 0;
			.item-event-wrapper{
				padding:35px 0;

				.time-from{
					width: 82px;
					padding:15px 0;
				}

				.event-wrapper{
					width: -webkit-calc(100% - 112px);

					h5.title{
						margin-bottom: 14px;

						a{
							color: #273044;
						}
					}

					.meta{
						.time{
							font-weight: 300;
							color: #828282;
						}
						.location{
							font-weight: 300;
							color: #828282;
						}
					}
				}

				&:after{
					content: '';
					display: block;
					clear: both;
				}
			}

			&.nextSlide{
				border: none;
			}
		}
	}
}